<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appies">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_noties_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_noties_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".AcercaDe"></activity>
        <activity android:name=".PruebaTabLayout" />
        <activity android:name=".visualizadores.primero.isoI.ActividadVisualizadorPdf" />
        <activity android:name=".visualizadores.primero.isoI.ActividadVisualizadorPdf2" />
        <activity android:name=".visualizadores.primero.isoI.ActividadVisualizadorPdf3" />
        <activity android:name=".visualizadores.primero.isoI.ActividadVisualizadorPdf4" />
        <activity android:name=".visualizadores.primero.isoI.ActividadVisualizadorPdf5" />
        <activity android:name=".visualizadores.primero.isoI.ActividadVisualizadorPdf6" />
        <activity android:name=".visualizadores.primero.isoI.ActividadVisualizadorPdf7" />
        <activity android:name=".visualizadores.primero.isoI.ActividadVisualizadorPdf8" />
        <activity android:name=".visualizadores.primero.isoI.ActividadVisualizadorPdf9" />
        <activity android:name=".visualizadores.primero.isoI.ActividadVisualizadorPdf10" />
        <activity android:name=".visualizadores.primero.isoI.ActividadVisualizadorPdf11" />
        <activity android:name=".visualizadores.primero.isoI.ActividadVisualizadorPdf12" />
        <activity
            android:name=".ActividadMatematica"
            android:label="@string/title_activity_actividad_matematica"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".ActividadSeleccionarMateriaPrimero" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>